<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom mb-3">
        <a class="navbar-brand" [routerLink]='["/"]'>RabidBike</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex">
            <ul class="navbar-nav flex-grow-2">
                <!-- <li class="nav-item">
                    <a class="nav-link text-dark" [routerLink]='["/"]'>Home</a>
                </li> -->
                <!-- <li class="nav-item">
                    <a class="nav-link text-dark" [routerLink]='["/item/list"]'>Shop</a>
                </li> -->
                <li class="nav-item" *ngIf="!(isLoggedIn$ | async) as loggedOut">
                    <a class="nav-link" *ngIf="loggedOut" [routerLink]='["/account/login"]'>Login</a>
                </li>
                <li class="nav-item" *ngIf="!(isLoggedIn$ | async) as loggedOut">
                    <a class="nav-link" *ngIf="loggedOut" [routerLink]='["/account/register"]'>Register</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item" *ngIf="(isLoggedIn$ | async) as loggedIn">
                    <a class="btn btn-success" *ngIf="loggedIn" [routerLink]='["/item/create"]'>Add Item</a>
                </li>

                <!-- <li class="nav-item" *ngIf="(isLoggedIn$ | async) as loggedIn">
                    <a class="nav-link text-danger" *ngIf="(username$ | async) as uname" [routerLink]='["/dashboard"]'>{{ uname }}</a>
                </li>
                <li class="nav-item" *ngIf="(isLoggedIn$ | async) as loggedIn">
                    <a class="btn btn-primary text-white" (click)="onLogout()" *ngIf="loggedIn">Logout</a>
                </li> -->

                <li *ngIf="(isLoggedIn$ | async) as loggedIn">
                    <div class="btn-group dropleft" style="margin-left: 5px;">
                        <button type="button" *ngIf="(username$ | async) as uname"
                            class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <span>{{ uname }}</span>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item text-success" [routerLink]='["/dashboard"]'>dashboard</a>
                            <a class="dropdown-item text-danger" (click)="onLogout()" *ngIf="loggedIn">Logout</a>
                        </div>
                    </div>
                </li>
            </ul>

        </div>
    </nav>
</header>