<div class="wrapper">

  <div class="container-fluid">
    <div class="row">

      <div class="col-lg-2">
        <div class="row">
          <div class="col-lg-12">
            <section class="sidebar" style="padding: 10px; border: 1px solid black;">
              <h6>Filter goes here</h6>
              <h6>Filter goes here</h6>
              <h6>Filter goes here</h6>
              <h6>Filter goes here</h6>
              <h6>Filter goes here</h6>
              <h6>Filter goes here</h6>
            </section>
          </div>
        </div>
      </div>

      <div class="col-lg-8">

        <div class="row" style="margin-bottom: 50px;">
          <div class="col-lg-12">
            <form class="form-inline">
              <div class="form-group" style="width: 100%;">
                <input type="search" class="form-control mr-sm-2" [(ngModel)]="searchStr"
                  [ngModelOptions]="{standalone: true}" placeholder="Search for any item" style="width: 80%;">
                <button class="btn btn-primary" (click)="onSearchClick()" style="width: 15%">ძებნა</button>
              </div>
            </form>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <div class="card bg-light mb-3"
              *ngFor="let i of items | paginate: { itemsPerPage: pageSize, currentPage: pageNumber, totalItems: totalCount}">
              <div class="row no-gutters">
                <div class="col-md-2">
                  <img src="./../../../assets/images/Air-Filter.jpg" alt="pic" class="card-img" height="200px">
                </div>
                <div class="col-md-10">
                  <div class="card-header">
                    <a href="#">{{ i.name }}</a>
                    <span style="float: right;">
                      {{ i.condition }} from <a href="#">{{ i.seller }}</a>
                    </span>
                  </div>
                  <div class="card-body">
                    <h6 class="card-text">
                      price: {{ i.price }}$
                    </h6>
                    <p class="card-text text-muted">
                      <small class="text-small">
                        {{ i.description }}
                      </small>
                    </p>
                    <div class="card-text">
                      {{ i.location }}
                      <button class="btn btn-primary" style="float: right;" (click)="onDetailsClick()">Details</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center">
              <pagination-controls (pageChange)="pageNumber = $event; onPageChanged()"></pagination-controls>
            </div>
          </div>
        </div>

      </div>

      <div class="col-lg-2">
        <div class="row">
          <div class="col-lg-12">
            <h6>Ads should go here</h6>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>