<!-- LOGIN SECTION -->
<section class="login-block">
  <!-- ALERT  WARNING START -->
  <div class="text-center mb-3 alert alert-warning alert-dismissible" *ngIf="invalidLogin" role="alert">
      <strong>{{errorMessage}}</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>
  <!-- ALERT  WARNING END -->

  <!-- LOGIN CONTAINER START -->
  <div class="container signLog">
      <div class="row">

          <!-- LOGIN COLUMN START -->
          <div class="col-md-4 login-sec">
              <h2 class="text-center">Login Now</h2>
              <!-- LOGIN FORM START -->
              <form class="login-form form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                  <div class="form-group">
                      <label for="email" class="text-uppercase">Email</label>
                      <input formControlName="email" type="text" class="form-control" placeholder="" required autofocus>
                      <div *ngIf="loginForm.controls['email'].touched && loginForm.controls['email'].errors" class="errorMessage">
                          <span *ngIf="loginForm.controls['email'].hasError('required')">Email is required.</span>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="password" class="text-uppercase">Password</label>
                      <input formControlName="password" type="password" class="form-control" placeholder="" required autofocus>
                      <div *ngIf="loginForm.controls['password'].touched && loginForm.controls['password'].errors" class="errorMessage">
                          <span *ngIf="loginForm.controls['password'].hasError('required')">Password is required.</span>

                      </div>
                  </div>

                  <input type="submit" class="btn btn-login btn-block" value="Submit" [disabled]="loginForm.invalid" />

              </form>
              <!-- LOGIN FORM END -->

              <div class="register-text">Dont Have An Accont ? <i class="fa fa-user-plus"></i> <a [routerLink]="['/account/register']"> Sign Up</a></div>

              <div class="copy-text">Bike Parts Online Store <i class="fa fa-user-secret"></i> by <a href="http://RabidBike.com">Sandro</a></div>
          </div>
          <!-- LOGIN SECTION END -->
          <!-- CAROUSEL COLUMN START -->
          <div class="col-md-8 banner-sec">

              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                  </ol>
                  <div class="carousel-inner" role="listbox">
                      <div class="carousel-item active">
                          <img class="d-block img-fluid" src="../../assets/images/chevrolet_volt_14.jpg" alt="First slide">
                          <div class="after"></div>
                          <div class="carousel-caption d-none d-md-block">
                              <div class="banner-text">
                                  <h2>Chevrolet Volt</h2>
                                  <p>Chevrolet Volt is one of the most practical, reliable and budget friendly cars ever created. </p>
                              </div>
                          </div>
                      </div>
                      <div class="carousel-item">
                          <img class="d-block img-fluid" src="../../assets/images/koenigsegg_agera_rs.jpeg" alt="First slide">
                          <div class="after"></div>
                          <div class="carousel-caption d-none d-md-block">
                              <div class="banner-text">
                                  <h2>Keoniggseg Agera RS</h2>
                                  <p>This car is a real beast, trust me, I can feel it.</p>
                              </div>
                          </div>
                      </div>
                      <div class="carousel-item">
                          <img class="d-block img-fluid" src="../../assets/images/tesla-model-s.jpg" alt="First slide">
                          <div class="after"></div>
                          <div class="carousel-caption d-none d-md-block">
                              <div class="banner-text">
                                  <h2>Tesla Model S</h2>
                                  <p>Buy this car if you want pure acceleration and forget what gasoline smells like. </p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- CAROUSEL COLUMN START -->
      </div>
  </div>
  <!-- LOGIN CONTAINER END -->
</section>